.catalog {
  padding: 27px 20px 35px;
}

.catalog__title {
  font-family: @Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.catalog__product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__product-title {
  font-family: @Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.catalog__product-information {
  font-family: @Arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.catalog__more {
  font-family: @Oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.catalog__more-text {
  font-family: @Arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.catalog__button-more {
  background-color: #f2f2f2;
  color: #444444;
}

.catalog__additional-product-title {
  font-family: @Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.catalog__additional-product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__additional-product-item-title {
  font-family: @Oswald;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.catalog__additional-product-weight {
  font-family: @Arial;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;
}

.catalog__additional-product-price {
  font-family: @Arial;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;
}

.catalog__great-offer-link-contain {
  background:
    url("../../img/green-background.png"),
    url("../../img/catalog-background-cat.png") no-repeat;
}

.catalog__great-offer-link {
  display: block;
  padding-top: 186px;
  padding-bottom: 43px;
  font-family: @Arial;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
