.catalog {
  padding: 27px 20px 35px;

  @media (min-width: @tablet-width) {
    padding: 65px 30px 76px;
  }

  @media (min-width: @desktop-width) {
    padding: 74px 110px 86px;
  }
}

.catalog__title {
  font-family: @Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__product-list {
  display: grid;
  gap: 25px 0;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 80px 80px;
  }
}

.catalog__product-card {
  border-top: 1px solid @gray-92;

  @media (min-width: @tablet-width) {
    padding: 39px;
    background-color: @basic-gray;
  }
}

.catalog__product-more {
  display: grid;
  grid-template-columns: 141px 141px;
  grid-template-rows: 56px 56px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.catalog__product-image-wrapper {
  grid-row: 1 /3;
}

.catalog__product-title {
  width: 76px;
  font-family: @Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey-2;
}

.catalog__product-information {
  display: grid;
  grid-template-columns: repeat(2, 69px);
  grid-column: 2 /3;
  font-family: @Arial;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey-1;
}

.catalog__weight-value {
  margin: 0;
}

.catalog__type-value {
  margin: 0;
}

.catalog__price-value {
  margin: 0;
}

.catalog__more-information {
  background-color: @white;
}

.catalog__more {
  font-family: @Oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @dark-grey-3;
}

.catalog__more-text {
  font-family: @Arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @dark-grey-1;
}

.catalog__button-more {
  display: block;
  padding: 10px;
  background-color: @basic-gray;
  color: @dark-grey-1;
}

.catalog__additional-product {
  display: grid;
  gap: 35px 0;

  @media (min-width: @tablet-width) {
    gap: 70px 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 896px 245px;
    gap: 0 79px;
  }
}

.catalog__additional-product-title {
  grid-column: 1 /-1;
  font-family: @Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @black;
}

.catalog__additional-product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    padding: 0 38px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.catalog__additional-product-list-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);

  @media (min-width: @tablet-width) {
    grid-template-columns: 316px 158px 158px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto auto auto 244px;
  }
}

.catalog__additional-product-item-title {
  grid-column: 1 /-1;
  font-family: @Oswald;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: @dark-grey-2;

  @media (min-width: @tablet-width) {
    grid-column: 1;
  }
}

.catalog__additional-product-weight {
  font-family: @Arial;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @dark-grey-1;
}

.catalog__additional-product-price {
  font-family: @Arial;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @dark-grey-1;
}

.catalog__button-order {
  display: block;
  padding: 10px;
  grid-column: 1 /-1;

  @media (min-width: @desktop-width) {
    grid-column: 4;
  }
}

.catalog__great-offer-link-contain {
  height: 288px;
  background:
    url("../img/green-background.png"),
    url("../img/catalog-background-cat.png") no-repeat;
  background-color: @black;

  @media (min-width: @tablet-width) {
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    height: 288px;
  }
}

.catalog__great-offer-link {
  display: block;
  padding-top: 186px;
  padding-bottom: 43px;
  font-family: @Arial;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white;
}
