.cooperation__wrapper {
  position: relative;
}

.cooperation__contain {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  line-height: 20px;
  background-color: @basic-gray;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 56px 70px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
    width: 565px;
    height: 198px;
    padding: 56px 80px;
    background-color: @white;
  }

  &--index {
    background-color: @white;
  }
}

.cooperation__title {
  width: 139px;
  font-family: @Oswald;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: @dark-grey-3;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    width: 172px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
  }
}

.cooperation__contacts {
  width: 139px;
  font-family: @Arial;
  font-size: 14px;
  color: @dark-grey-1;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 160px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: 165px;
    margin: 0;
    text-align: left;
  }
}

.cooperation__decorative--margin {
  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 20px;
  }
}

.cooperation__map {
  display: block;
  width: 320px;
  height: 362px;
  border: none;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    height: 400px;
  }
}
