.cooperation__wrapper {
  position: relative;
  background-color: @basic-gray;

  &--index {
    background-color: @white;
  }
}

.cooperation__contain {
  .contain-center (280px);
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
  line-height: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    .contain-center (708px);
    padding: 62px 40px 59px;
  }

  @media (min-width: @desktop-width) {
    .contain-center (1220px);
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
    width: 565px;
    min-height: 198px;
    padding: 58px 70px 63px 80px;
    background-color: @white;
    box-sizing: border-box;
  }

  &--index {
    background-color: @white;
  }

  &--form {
    padding: 26px 0;

    @media (min-width: @tablet-width) {
      padding: 59px 40px;
    }

    @media (min-width: @desktop-width) {
      padding: 59px 70px 59px 80px;
    }
  }

  &--catalog {
    @media (min-width: @desktop-width) {
      padding: 59px 70px 59px 80px;
    }
  }
}

.cooperation__title {
  width: 139px;
  margin: 0;
  margin-right: auto;
  font-family: @Oswald;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: @dark-grey-3;

  @media (min-width: @tablet-width) {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
  }
}

.cooperation__contacts {
  width: 139px;
  margin: 0;
  font-family: @Arial;
  font-size: 14px;
  color: @dark-grey-1;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 160px;
    margin-top: -3px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: 165px;
    margin: 0;
    margin-top: -2px;
    text-align: left;
  }
}

.cooperation__decorative--margin {
  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 20px;
  }
}

.cooperation__map-contain {
  position: relative;
  min-height: 362px;
  background-image: url("../img/location-map.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    min-height: 400px;
    background-image: url("../img/location-map-tablet.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/location-map-desktop.png");
  }
}

.cooperation__map {
  display: block;
  min-width: 280px;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
