.copyright {
  min-height: 78px;

  @media (min-width: @tablet-width) {
    width: 163px;
    min-height: 34px;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;

  @media (min-width: @tablet-width) {
    width: 163px;
    min-height: 34px;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey-1;
}
