.example {
  background-color: @light-red;

  @media (min-width: @tablet-width) {
    background-image: linear-gradient(@white 620px, @light-red 620px);
    border-top: 1px solid @light-gray;
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(@white 178px, @light-red 178px);
    border: none;
  }
}

.example__contain {
  .contain-center (280px);
  padding: 25px 0 45px;

  @media (min-width: @tablet-width) {
    .contain-center (708px);
    padding: 44px 0 55px;
  }

  @media (min-width: @desktop-width) {
    .contain-center (1220px);
    display: flex;
    justify-content: space-between;
    padding: 44px 0 25px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: @Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 144px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: @Arial;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey-1;

  @media (min-width: @tablet-width) {
    width: 702px;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__wrapper {
  @media (min-width: @desktop-width) {
    width: 436px;
  }
}

.example__list-contain {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 705px;
    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    width: 366px;
    flex-direction: column;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    width: 366px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}

.example__item {
  position: relative;
  width: 124px;
  min-height: 56px;
  border: 1px solid @very-light-gray;
  box-sizing: border-box;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 162px;
    min-height: 71px;
  }
}

.example__value {
  margin-top: 14px;
  font-family: @Oswald;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  position: absolute;
  bottom: -14px;
  left: 20px;
  width: 80px;
  margin-left: 0;
  font-family: @Arial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: @dark-grey-1;
  background-color: @light-red;

  @media (min-width: @tablet-width) {
    bottom: -7px;
    left: 15px;
    width: 130px;
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    background-color: @light-red;
  }
}

.example__text-cost {
  margin: 0;
  font-family: @Oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    width: 173px;
    margin-top: 11px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: 327px;
    display: flex;
    justify-content: space-between;
  }
}

.example__price-sum {
  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-top: 9px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.example__slider-list {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -44px;
  }
}

.example__slider-item {
  display: flex;
  justify-content: center;
}

.example__image {
  @media (min-width: @tablet-width) {
    width: 592px;
    height: 511px;
  }
}

.example__slider-control-contain {
  display: flex;
  width: 86px;
  height: 14px;
  margin: 0 auto;
  background-color: @white;
  border: 1px solid @very-light-gray;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    width: 426px;
    height: 6px;
    margin-bottom: 15px;
    background-color: @gainsboro;
  }
}

.example__slider-control {
  position: relative;
  align-self: center;
  width: 35px;
  height: 6px;
  margin-left: 6px;
  background-color: @basic-green;
  border: none;
  border-radius: 6px;

  &:hover::before,
  &:hover::after {
    border-bottom: 1px @gray-85 solid;
  }

  &:active::before,
  &:active::after {
    border-bottom: none;
  }


  &::before {
    position: absolute;
    top: -7px;
    left: -61px;
    content: "было";
    font-family: @Oswald;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: @black;

    @media (min-width: @tablet-width) {
      top: 0;
      left: -266px;
      font-size: 20px;
      line-height: 30px;
      border-bottom: 1px @gray-85 dotted;
    }
  }

  &::after {
    position: absolute;
    top: -7px;
    left: 96px;
    content: "стало";
    font-family: @Oswald;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: @black;

    @media (min-width: @tablet-width) {
      top: 0;
      left: 253px;
      font-size: 20px;
      line-height: 30px;
      border-bottom: 1px @gray-85 dotted;
    }
  }

  @media (min-width: @tablet-width) {
    .flex-center ();
    width: 34px;
    height: 34px;
    margin-left: 196px;
    background-color: @white;
    border: 1px solid @very-light-gray;
    border-radius: 50%;

    &:active {
      border: 1px solid @basic-green;
    }
  }
}

.example__control-dot {
  @media (min-width: @tablet-width) {
    display: block;
    width: 8px;
    height: 8px;
    background-color: @basic-green;
    border-radius: 50%;
  }
}
