.example {
  padding: 25px 20px 40px;
  background-color: @light-red;
}

.example__title {
  font-family: @Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: @black;
}

.example__text {
  font-family: @Arial;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey-1;
}

.example__value {
  font-family: @Oswald;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @black;
}

.example__description {
  font-family: @Arial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: @dark-grey-1;
}

.example__text-cost {
  font-family: @Oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
}

.example__slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example__slider-text {
  font-family: @Oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
}
