.features__wrapper {
  .contain-center (280px);
  padding: 20px 0 49px;

  @media (min-width: @tablet-width) {
    .contain-center (708px);
    padding: 45px 0;
  }

  @media (min-width: @desktop-width) {
    .contain-center (1220px);
    padding: 71px 0 26px;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: @Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: features;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    min-height: 597px;
    margin-right: 79px;
  }

  @media (min-width: @desktop-width) {
    min-height: 280px;
    margin-right: 0;
  }
}

.features__item {
  min-height: 60px;
  padding-top: 2px;
  padding-left: 80px;
  font-family: @Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey-1;
  box-sizing: border-box;
  counter-increment: features;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 245px;
    min-height: 280px;
    padding-left: 0;
    padding-top: 151px;
    font-size: 16px;
    line-height: 24px;
    background-position: 0 40px;
    background-size: 80px;

    &::after {
      content: counter(features);
      position: absolute;
      bottom: 5px;
      right: 5px;
      z-index: -1;
      font-family: @Oswald;
      font-size: 280px;
      line-height: 280px;
      color: @basic-gray;
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  &--1 {
    background-image: url("/img/features-1-img.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      background-image: url("/img/features-1-big-img.svg");

      &::after {
        bottom: 3px;
        right: 19px;
      }
    }
  }

  &--2 {
    background-image: url("/img/features-2-img.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      background-image: url("/img/features-2-big-img.svg");

      &::after {
        bottom: 3px;
        right: 1px;
      }
    }
  }

  &--3 {
    background-image: url("/img/features-3-img.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      background-image: url("/img/features-3-big-img.svg");

      &::after {
        bottom: 3px;
        right: 1px;
      }
    }
  }

  &--4 {
    background-image: url("/img/features-4-img.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      background-image: url("/img/features-4-big-img.svg");

      &::after {
        bottom: 3px;
        right: -2px;
      }
    }
  }
}

.features__item-4-indent {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}
