.main-header {
  display: flex;
  flex-direction: column;
  min-height: 65px;
  padding: @mobile-padding;
  font-family: @Oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: @tablet-padding;
    min-height: 75px;
  }

  @media (min-width: @desktop-width) {
    padding: @desktop-padding;
    min-height: 140px;
  }
}

.main-header__logo-wrapper {
  min-height: 38px;

  @media (min-width: @tablet-width) {
    min-height: 52px;
  }

  @media (min-width: @desktop-width) {
    min-height: 59px;
  }
}
