// Переключение мобильного меню
@media (max-width: @mobile-width-only) {
  .main-navigation--closed .main-navigation__item {
    display: none;
  }

  .main-navigation--opened .main-navigation-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .main-navigation--opened .main-navigation__toggle {
    background-image: url("/img/toggle-opened.svg");
    background-repeat: no-repeat;
  }

  .main-navigation--closed .main-navigation__toggle {
    background-image: url("/img/toggle-closed.svg");
    background-repeat: no-repeat;
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }

  .main-navigation--nojs .main-navigation-wrapper {
    position: static;
    min-height: 0;
  }

  .main-navigation--nojs .main-navigation__item {
    display: block;
  }
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: @white;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 35px;
    width: 440px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
    gap: 32px;
    min-height: 36px;
    font-size: 20px;
    line-height: 30px;
    background-color: transparent;
  }
}

.main-navigation__toggle {
  width: 24px;
  height: 20px;
  display: block;
  padding: 0;
  background-color: @white;
  border: none;
  cursor: pointer;

  &--header {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-navigation__item {
  border-top: 1px solid @light-gray;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.main-navigation__item:not(.main-navigation__item--current) {
  @media (min-width: @tablet-width) {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.main-navigation__item--current {
  position: relative;

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: @basic-green;
    }

    @media (min-width: @desktop-width) {
      background-color: @white;
    }
  }
}

.main-navigation__item--border-catalog-color,
.main-navigation__item--border-form-color {
  &::after {
    @media (min-width: @tablet-width) {
      background-color: @basic-green;
    }
  }
}

.main-navigation__link {
  display: block;
  padding: 22px;
  color: @black;

  @media (min-width: @tablet-width) {
    padding: 18px 0 10px;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    padding: 18px 0 8px;
    color: @white;

    &--catalog-color,
    &--form-color {
      color: @black;
    }
  }
}
