.promo {
  box-sizing: border-box;
  font-family: @Oswald;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    padding: 0 0 596px 116px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 267px 190px;
  }
}

.promo__wrapper {
  position: relative;
  padding-bottom: 164px;
  margin-bottom: 138px;
  background-image: linear-gradient(@transperancy-green, @transperancy-green), url("../img/index-background-cat.png");

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(@transperancy-green, @transperancy-green), url("../img/index-background-cat@2x.png");
    background-size: 320px 302px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    margin-bottom: 49px;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;

    &::before {
      content: "";
      position: absolute;
      top: -170px;
      right: 0;
      width: 720px;
      height: 694px;
      z-index: -1;
      background-image: linear-gradient(@transperancy-green, @transperancy-green), url("../img/index-background-cat-desktop.png");

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(@transperancy-green, @transperancy-green), url("../img/index-background-cat-desktop@2x.png");
        background-size: 720px 694px;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 167px;
    left: 20px;
    width: 280px;
    height: 270px;
    background-image: url("../img/index-product-mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-product-mobile@2x.png");
      background-size: 280px 270px;
    }

    @media (min-width: @tablet-width) {
      top: 180px;
      left: 0;
      width: 709px;
      height: 609px;
      background-image: url("../img/index-product-tablet.png");
      background-position: -90px 0;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-product-tablet@2x.png");
        background-size: 709px 609px;
      }
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @white;
  font-style: normal;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    width: 450px;
    font-size: 60px;
    line-height: 60px;
    color: @black;
    text-align: left;
  }
}

.promo__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @white;

  @media (min-width: @tablet-width) {
    color: @black;
    text-align: left;
  }
}

.promo .promo__button {
  width: 280px;
  margin-left: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 244px;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    background-color: @limeade;
  }

  &:focus {
    color: @button-active-color;
  }
}
