.questionnaire {
  padding: 27px 0 32px;
  font-family: @Oswald;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding: 55px 37px 74px 39px;
  }

  @media (min-width: @desktop-width) {
    padding: 53px 0 82px;
  }
}

.questionnaire__header {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 66px;
  }
}

.questionnaire__title {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  color: @black;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.questionnaire__subtitle {
  width: 226px;
  margin-bottom: 39px;
  font-size: 14px;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    width: 332px;
    margin-left: 2px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

// .questionnaire__form {

// }

.questionnaire__legend {
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.questionnaire__cat-data {
  padding: 0;
  margin-bottom: 26px;
  .fieldset-normalize ();

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0 80px;
    margin-bottom: 69px;
  }
}

.questionnaire__cat-data-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  color: @dark-grey-1;

  @media (min-width: @desktop-width) {
    // grid-template-columns: repeat(2, auto);
    // gap: 80px 0;
    width: 568px;
  }

  &--text {
    gap: 17px 0;
    margin-bottom: 27px;

    @media (min-width: @tablet-width) {
      gap: 20px 0;
      margin-left: 2px;
      margin-bottom: 72px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  &--radio {
    position: relative;
    gap: 13px 0;
    padding: 22px 0 19px;

    @media (min-width: @tablet-width) {
      padding: 25px 0 25px;
      margin-left: 2px;
      outline: 1px solid @input-border;
    }

    @media (min-width: @desktop-width) {
      margin-left: 0;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: @gray-85;
      content: "";

      @media (min-width: @tablet-width) {
        display: none;
      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: @gray-85;
      content: "";

      @media (min-width: @tablet-width) {
        display: none;
      }
    }
  }
}

.questionnaire__label {
  &--cat-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &--radio {
    position: relative;
    min-height: 30px;
    padding-left: 45px;

    @media (min-width: @tablet-width) {
      min-height: 40px;
      padding-left: 88px;
    }
  }

  &--owner-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &--additional {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 30px;
    padding-left: 46px;

    @media (min-width: @tablet-width) {
      min-height: 40px;
      padding-left: 60px;
    }
  }
}

.questionnaire__control-mark {
  &--radio {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    outline: 1px solid @very-light-gray;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      left: 28px;
      width: 40px;
      height: 40px;
    }

    &:hover {
      outline: 1px solid @gray-73;
    }
  }

  &--checkbox {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    outline: 1px solid @very-light-gray;

    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
    }

    &:hover {
      outline: 1px solid @gray-73;
    }
  }
}

.questionnaire__radio-input:disabled + .questionnaire__control-mark {
  opacity: 0.3;
}

.questionnaire__checkbox-input:disabled + .questionnaire__control-mark {
  opacity: 0.3;
}

.questionnaire__checkbox-input:disabled ~ .questionnaire__additional-text {
  opacity: 0.3;
}

.questionnaire__radio-input:disabled ~ .questionnaire__cat-data-text {
  opacity: 0.3;
}

.questionnaire__radio-input:focus + .questionnaire__control-mark {
  outline: 1px solid @black;
}

.questionnaire__radio-input:checked + .questionnaire__control-mark--radio {
  background-image: url("../img/radio-button.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    background-size: 18px;
  }
}

.questionnaire__checkbox-input:checked + .questionnaire__control-mark--checkbox {
  background-image: url("../img/checkbox-button.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    background-size: 24px 18px;
  }
}

.questionnaire__checkbox-input:focus + .questionnaire__control-mark {
  outline: 1px solid @black;
}

.questionnaire__cat-data-text {
  min-width: fit-content;
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    margin-right: 18px;
    font-size: 20px;
    line-height: 30px;
  }
}

.questionnaire__text-input {
  min-height: 40px;
  flex-grow: 1;
  padding-left: 15px;
  font-family: @Oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey-1;
  border: none;
  outline: 1px solid @input-border;

  @media (min-width: @tablet-width) {
    min-height: 52px;
    padding-left: 19px;
    font-size: 20px;
    line-height: 30px;
    box-sizing: border-box;
  }

  &:hover {
    outline: 1px solid @very-light-gray;
  }

  &:focus {
    outline: 2px solid @dark-grey-1;
  }

  &:invalid {
    outline: 2px solid @error-color;
  }

  &::placeholder {
    color: @dark-grey-1;
  }
}

.questionnaire__owner-data {
  padding: 0;
  padding-bottom: 24px;
  .fieldset-normalize ();

  @media (min-width: @tablet-width) {
    padding-bottom: 67px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 66px;
  }
}

.questionnaire__line-contain {
  &--owner-data {
    .decorative-line (30%);
    margin-bottom: 35px;

    @media (min-width: @tablet-width) {
      margin-bottom: 76px;
    }
  }

  &--comment {
    .decorative-line ();
    margin-bottom: 37px;

    @media (min-width: @tablet-width) {
      margin-bottom: 76px;
    }
  }

  &--additional {
    .decorative-line ();
    margin-bottom: 34px;

    @media (min-width: @tablet-width) {
      margin-bottom: 57px;
    }
  }
}

.questionnaire__owner-legend {
  max-width: 187px;
  width: fit-content;
  display: inline-block;
  background-color: @white;
  padding-right: 14px;


  @media (min-width: @tablet-width) {
    max-width: none;
    width: fit-content;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.questionnaire__owner-data-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 2px;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  color: @dark-grey-1;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.questionnaire__owner-data-item {
  @media (min-width: @desktop-width) {
    width: 569px;
  }

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
}

.questionnaire__email-input {
  position: relative;
  height: 42px;
  flex-grow: 1;
  padding-left: 15px;
  font-family: @Oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey-1;
  background-image: url("../img/email.svg");
  background-repeat: no-repeat;
  background-position: 185px center;
  border: none;
  outline: 1px solid @input-border;

  @media (min-width: @tablet-width) {
    height: 46px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 21px;
    background-position: 514px center;
  }

  @media (min-width: @desktop-width) {
    background-position: 449px center;
  }

  &:hover {
    outline: 1px solid @very-light-gray;
  }

  &:focus {
    outline: 2px solid @dark-grey-1;
    background-image: url("../img/email-focus.svg");
  }

  &:invalid {
    outline: 2px solid @error-color;
    background-image: url("../img/email-error.svg");
  }

  &::placeholder {
    color: @dark-grey-1;
  }
}

.questionnaire__tel-input {
  height: 44px;
  flex-grow: 1;
  padding-left: 15px;
  font-family: @Oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey-1;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 171px center;
  border: none;
  outline: 1px solid @input-border;

  @media (min-width: @tablet-width) {
    height: 52px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 16px;
    background-position: 493px center;
  }

  @media (min-width: @desktop-width) {
    background-position: 430px center;
  }

  &:hover {
    outline: 1px solid @very-light-gray;
  }

  &:focus {
    outline: 2px solid @dark-grey-1;
    background-image: url("../img/phone-focus.svg");
  }

  &:invalid {
    outline: 2px solid @error-color;
    background-image: url("../img/phone-error.svg");
  }

  &::placeholder {
    color: @dark-grey-1;
  }
}

.questionnaire__owner-data-text {
  min-width: fit-content;
  margin-right: 11px;

  @media (min-width: @tablet-width) {
    margin-left: 1px;
    margin-right: 19px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 20px;
  }
}

.questionnaire__comment {
  padding: 0;
  padding-bottom: 22px;
  .fieldset-normalize ();

  @media (min-width: @tablet-width) {
    padding-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 67px;
  }
}

.questionnaire__comment-legend {
  width: fit-content;
  padding-right: 22px;
  background-color: @white;


  @media (min-width: @tablet-width) {
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.questionnaire__textarea {
  width: 100%;
  min-height: 150px;
  padding-top: 9px;
  padding-left: 15px;
  font-family: @Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey-1;
  border: none;
  outline: 1px solid @input-border;
  resize: none;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    min-height: 174px;
    padding-top: 10px;
    padding-left: 19px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 9px;
    padding-left: 20px;
    min-height: 172px;
  }

  &:focus {
    outline: 1px solid @black;
  }

  &::placeholder {
    color: @dark-grey-1;
  }
}

.questionnaire__additional {
  padding: 0;
  padding-bottom: 34px;
  .fieldset-normalize ();

  @media (min-width: @tablet-width) {
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 61px;
  }
}

.questionnaire__additional-legend {
  width: fit-content;
  background-color: @white;
  padding-right: 23px;

  @media (min-width: @tablet-width) {
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.questionnaire__additional-list {
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 12px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  color: @dark-grey-1;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 222px);
    grid-template-rows: repeat(2, auto);
    gap: 32px 124px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 221px);
    grid-template-rows: auto;
    gap: 0 104px;
  }
}

.questionnaire__additional-item {
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.questionnaire__contain {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.questionnaire__submit {
  padding: 11px;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 20px;
  border: none;

  @media (min-width: @tablet-width) {
    width: 285px;
    margin-bottom: 0;
    margin-right: 61px;
    padding: 16px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-right: 81px;
    margin-left: 2px;
  }

  &:hover {
    background-color: @limeade;
  }

  &:active {
    color: @button-active-color;
  }
}

.questionnaire__text {
  margin: 0;
  align-self: center;
  font-family: @Arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    margin-top: -3px;
  }
}
