.target-selection {
  padding: 0 20px;
  box-sizing: border-box;
  font-family: @Oswald;
}

.target-selection__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.target-selection__item {
  background-color: #f2f2f2;
}

.target-selection__item-slim {
  background: url("../../img/cat_slim.svg") no-repeat;
}

.target-selection__item-pro {
  background: url("../../img/cat_pro.svg") no-repeat;
}

.target-selection__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.target-selection__item-text {
  font-family: @Arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.target-selection__link {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
