img {
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page__body {
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
}
.page__container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page__container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page__container {
    width: 1440px;
  }
}
.main-header {
  display: flex;
  flex-direction: column;
  min-height: 65px;
  padding: 0 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 75px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding: 0 110px;
    min-height: 140px;
  }
}
.main-header__logo-wrapper {
  min-height: 38px;
}
@media (min-width: 768px) {
  .main-header__logo-wrapper {
    min-height: 52px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo-wrapper {
    min-height: 59px;
  }
}
.main-navigation__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .main-navigation__list {
    flex-direction: row;
    width: 440px;
  }
}
@media (min-width: 1440px) {
  .main-navigation__list {
    width: 478px;
  }
}
@media (min-width: 768px) {
  .main-navigation__toggle {
    display: none;
  }
}
.main-navigation__link {
  display: block;
  padding: 22px;
  color: #000000;
}
@media (min-width: 768px) {
  .main-navigation__link {
    padding: 0;
  }
}
.main-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;
  min-height: 236px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 147px;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .main-footer {
    padding: 0 110px;
    min-height: 149px;
  }
}
.main-footer__text-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .main-footer__text-logo-link {
    width: 128px;
    min-height: 24px;
    border-bottom: none;
  }
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 63px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .social {
    min-height: 22px;
    border-bottom: none;
  }
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  width: 132px;
  min-height: 22px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social__item:not(:nth-child(3n+3)) {
  margin-right: 24px;
}
.copyright {
  min-height: 78px;
}
@media (min-width: 768px) {
  .copyright {
    width: 163px;
    min-height: 34px;
  }
}
.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;
}
@media (min-width: 768px) {
  .copyright__link {
    width: 163px;
    min-height: 34px;
  }
}
.copyright__text {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
.cooperation__wrapper {
  position: relative;
}
.cooperation__contain {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  line-height: 20px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .cooperation__contain {
    padding: 56px 70px;
  }
}
@media (min-width: 1440px) {
  .cooperation__contain {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
    width: 565px;
    padding: 56px 80px;
  }
}
.cooperation__contain--index {
  background-color: #ffffff;
}
.cooperation__title {
  width: 139px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
  margin-right: auto;
}
@media (min-width: 768px) {
  .cooperation__title {
    width: 172px;
  }
}
@media (min-width: 1440px) {
  .cooperation__title {
    width: 163px;
  }
}
.cooperation__contacts {
  width: 139px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: #444444;
}
@media (min-width: 768px) {
  .cooperation__contacts {
    width: 160px;
  }
}
@media (min-width: 1440px) {
  .cooperation__contacts {
    width: 165px;
  }
}
.cooperation__map-contain {
  position: relative;
}
.cooperation__map {
  display: block;
}
@media (min-width: 768px) {
  .cooperation__map {
    width: 768px;
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .cooperation__map {
    width: 1440px;
    height: 400px;
  }
}
.cooperation__map-pin {
  position: absolute;
  top: 139px;
  left: 134px;
}
@media (min-width: 768px) {
  .cooperation__map-pin {
    top: 146px;
    left: 333px;
    width: 113px;
    height: 106px;
  }
}
@media (min-width: 1440px) {
  .cooperation__map-pin {
    top: 131px;
    left: 908px;
  }
}
.promo {
  padding: 0 20px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo {
    padding: 0 0 596px 116px;
  }
}
@media (min-width: 1440px) {
  .promo {
    padding: 0 0 267px 270px;
  }
}
.promo__wrapper {
  position: relative;
  padding-bottom: 164px;
  margin-bottom: 138px;
  background: url("../../img/green-background.png"), url("../../img/index-background-cat.png") no-repeat;
  background-color: #000000;
}
@media (min-width: 768px) {
  .promo__wrapper {
    padding-bottom: 0;
    margin-bottom: 49px;
    background: none;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    margin-bottom: 52px;
  }
}
.promo__wrapper::after {
  content: "";
  position: absolute;
  top: 167px;
  left: 20px;
  width: 280px;
  height: 270px;
  background-image: url("../../img/index-product-background.png");
}
@media (min-width: 768px) {
  .promo__wrapper::after {
    background: none;
  }
}
.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo__title {
    width: 450px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
  }
}
.promo__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .promo__slogan {
    color: #000000;
    text-align: left;
  }
}
.target-selection {
  padding: 0 20px;
  padding-top: 20px;
  font-family: "Oswald", sans-serif;
}
@media (min-width: 768px) {
  .target-selection {
    padding: 0 30px;
    padding-top: 20px;
  }
}
@media (min-width: 1440px) {
  .target-selection {
    padding: 0 110px;
    padding-top: 82px;
  }
}
.target-selection__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1440px) {
  .target-selection__list {
    flex-direction: row;
    margin-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .target-selection__list {
    margin-bottom: 0;
  }
}
.target-selection__item {
  height: 266px;
  background-color: #f2f2f2;
}
.target-selection__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .target-selection__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .target-selection__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .target-selection__item {
    height: 372px;
  }
}
@media (min-width: 1440px) {
  .target-selection__item {
    height: 374px;
    width: 570px;
  }
}
.target-selection__item-slim {
  background-image: url("../../img/cat_slim.svg");
  background-repeat: no-repeat;
}
.target-selection__item-pro {
  background-image: url("../../img/cat_pro.svg");
  background-repeat: no-repeat;
}
.target-selection__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}
.target-selection__item-text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.target-selection__link {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.button {
  display: inline-block;
  padding: 7px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
  cursor: pointer;
}
.features {
  padding: 20px 20px 49px;
}
@media (min-width: 768px) {
  .features {
    padding: 45px 30px;
  }
}
@media (min-width: 1440px) {
  .features {
    padding: 71px 110px 26px 110px;
  }
}
.features__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .features__list {
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    min-height: 597px;
    margin-right: 79px;
  }
}
@media (min-width: 1440px) {
  .features__list {
    min-height: 280px;
    margin-right: 0;
  }
}
.features__item {
  min-height: 60px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
@media (min-width: 768px) {
  .features__item {
    width: 249px;
    height: 280px;
  }
}
.features__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.features__item--1 {
  background: url("../../img/features-1-img.svg") no-repeat;
}
.features__item--2 {
  background: url("../../img/features-2-img.svg") no-repeat;
}
.features__item--3 {
  background: url("../../img/features-3-img.svg") no-repeat;
}
.features__item--4 {
  background: url("../../img/features-4-img.svg") no-repeat;
}
.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    padding: 43px 30px 55px 30px;
  }
}
@media (min-width: 1440px) {
  .example {
    display: flex;
    justify-content: space-between;
    padding: 0 110px 75px 110px;
  }
}
.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
@media (min-width: 1440px) {
  .example__title {
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    width: 436px;
  }
}
@media (min-width: 768px) {
  .example__list-contain {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .example__list-contain {
    width: 366px;
    flex-direction: column;
  }
}
.example__list {
  display: flex;
}
.example__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.example__value {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.example__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
}
.example__text-cost {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.example__slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.example__slider-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.catalog {
  padding: 27px 20px 35px;
}
.catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.catalog__product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog__product-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}
.catalog__product-information {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
.catalog__more {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}
.catalog__more-text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
.catalog__button-more {
  background-color: #f2f2f2;
  color: #444444;
}
.catalog__additional-product-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.catalog__additional-product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog__additional-product-item-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.catalog__additional-product-weight {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;
}
.catalog__additional-product-price {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;
}
.catalog__great-offer-link-contain {
  background: url("../../img/green-background.png"), url("../../img/catalog-background-cat.png") no-repeat;
  background-color: #000000;
}
.catalog__great-offer-link {
  display: block;
  padding-top: 186px;
  padding-bottom: 43px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.questionnaire {
  padding: 27px 20px 32px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.questionnaire__title {
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  color: #000000;
  font-weight: 400;
}
.questionnaire__subtitle {
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}
.questionnaire__cat-data-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  color: #444444;
}
.questionnaire__owner-data-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  color: #444444;
}
.questionnaire__additional-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  color: #444444;
}
.questionnaire__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.questionnaire__submit {
  border: none;
}
.questionnaire__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */
