@mobile-width: 320px;
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-padding: 0 20px;
@tablet-padding: 0 30px;
@desktop-padding: 0 110px;

@Oswald: "Oswald", sans-serif;
@Arial: "Arial", "Helvetica", sans-serif;

@basic-green: #68b738;
@transperancy-green:#68b738d9;
@limeade: #5eaa2f;
@white: #ffffff;
@black: #000000;
@dark-grey-1: #444444;
@dark-grey-2: #222222;
@dark-grey-3: #111111;
@basic-gray: #f2f2f2;
@light-red: #eaeaea;
@gray-85: #d9d9d9;
@gray-92: #ebebeb;
@light-gray: #e6e6e6;
@very-light-gray: #cdcdcd;
@gainsboro: #dcdcdc;
@button-active-color:#ffffff4d;
@button-gray-active-color: #4444444d;
@light-gray-2: #d3d3d3;
@input-border: #e7e7e7;
@gray-73: #bababa;
@error-color: #ff8282;
@special-grey-2: #666666;

.flex-center () {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fieldset-normalize () {
  margin-left: 0;
  margin-right: 0;
  border: 0;
}

.contain-center (@_width) {
  width: @_width;
  margin-left: auto;
  margin-right: auto;
}

.img-size (@_width; @_height) {
  width: @_width;
  height: @_height;
}

.decorative-line (@_top: 50%;) {
  position: relative;

  &::before {
    position: absolute;
    top: @_top;
    left: calc((50% - 50vw) + 1px);
    right: calc((50% - 50vw) + 10px);
    height: 2px;
    background-color: @basic-green;
    content: "";
    z-index: -1;

    @media (min-width: @tablet-width) {
      top: 50%;
    }

    @media (max-width: @mobile-width-only) {
      left: 0;
    }
  }
}
