@Oswald: "Oswald", sans-serif;
@Arial: "Arial", "Helvetica", sans-serif;

@basic-green: #68b738;
@white: #ffffff;
@black: #000000;
@dark-grey-1: #444444;
@dark-grey-2: #222222;
@dark-grey-3: #111111;
@basic-gray: #f2f2f2;
@light-red: #eaeaea;
